


   <app-navbar></app-navbar>


             
    <div class="container" style="margin: 5%;" >
    
      <div class="row col-md-6" [hidden]="submitted" style="margin-left: auto;margin-right: auto; text-align: center;">  
           <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="passengerName"class="col-sm col-form-label">Passenger Name</label>
      <input type="text"  class="form-control"  placeholder="Enter your Full Name" required #passengerName="ngModel" [class.is-invalid]="passengerName.invalid && passengerName.touched" class="form-control" id="passengerName" required [(ngModel)]="passenger.passengerName" name="passengerName">
      <small class="text-danger" [class.d-none]="passengerName.valid || passengerName.untouched">passengerName is required</small>
    </div>

    <div class="form-group">
      <label for="passengerBirthday" class="col-sm col-form-label">Passenger Birthday</label>
      <input type="date"  class="form-control"  placeholder="Enter Age" required #passengerBirthday="ngModel" [class.is-invalid]="passengerBirthday.invalid && passengerBirthday.touched" class="form-control" id="passengerBirthday" required [(ngModel)]="passenger.passengerBirthday" name="passengerBirthday">
      <small class="text-danger" [class.d-none]="passengerBirthday.valid || passengerBirthday.untouched"> required</small>
    </div>

 

    <div class="form-group">
      <label for="passengerUIN" class="col-sm col-form-label">Passenger CNI </label>
      <input type="text"  class="form-control" placeholder="Enter your ID Card" required #passengerUIN="ngModel" [class.is-invalid]="passengerUIN.invalid && passengerUIN.touched" class="form-control" id="passengerUIN" required [(ngModel)]="passenger.passengerUIN" name="passengerUIN">
      <small class="text-danger" [class.d-none]="passengerUIN.valid || passengerUIN.untouched">CNI  is between 1 to 9  required</small>
    </div>
 
    <div class="form-group">
      <label for="name" class="col-sm col-form-label">Luggage </label>
      <input type="text" class="form-control"  placeholder="Number of luggage" required #luggage="ngModel" [class.is-invalid]="luggage.invalid && luggage.touched" class="form-control" id="luggage" required [(ngModel)]="passenger.luggage" name="luggage">
      <small class="text-danger" [class.d-none]="luggage.valid || luggage.untouched">Model is required</small>
    </div>
    <div>
      <button  class="btn btn-success " >Submit</button>
    </div>
 

  </form>
</div>
</div>


<app-footer></app-footer>