    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary">SARA<span class="text-dark">YA-TRAV</span>ELER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                  <div class="navbar-nav ml-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a routerLink="/airport-list" class="nav-item nav-link"> Airport</a>
                    <a routerLink="/booking-list" class="nav-item nav-link"> Booking</a>
                    <a routerLink="/flight-list" class="nav-item nav-link"> Flight</a>
                    <a routerLink="/schedule-list" class="nav-item nav-link"> Schedule</a>
                    <a routerLink="/passenger-list" class="nav-item nav-link"> Passenger</a>
                    <a routerLink="/schedule-flight-list" class="nav-item nav-link">ScheduleFlight</a>
                    <a href="about.html" class="nav-item nav-link" >About Us</a>
                    <a class="nav-item nav-link" (click)="logout()" >LogOut </a>
                </div>
              </div>
            </nav>
        </div>
    </div >
    <!-- Navbar End -->
  
  <div class="panel panel-primary" style="margin: 10%;">
      <div class="panel-heading">
        <h2>List of Flight</h2>
      </div>
      <div style="margin-left: 80%;">
        <button type="button" class="btn btn-lg btn-outline-info" routerLink="/add-flight">Ad Flight</button>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Flight Number</th>
              <th>Carrier Name</th>
              <th>Flight Model</th>
              <th>SeatCapicity</th>
              <th>From</th>
              <th>To</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flight of flights | async">
              <td> {{flight.flightId}} </td>
              <td> {{flight.carrierName}}</td>
              <td>{{flight.flightModel}}</td>
              <td> {{flight.seatCapacity}} </td>
              <td> {{flight.from}}</td>
              <td>{{flight.to}}</td>
              <td>
                <button (click)="removeflight(flight.flightId)" class="btn btn-danger">Delete</button>
                <button (click)="modifyFlight(flight.flightId)" class="btn btn-info" style="margin-left: 10px">update</button>
                  <button (click)="flightDetails(flight.flightId)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-footer></app-footer>