    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary">SARA<span class="text-dark">YA-TRAV</span>ELER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                  <div class="navbar-nav ml-auto py-0">
                      <a href="index.html" class="nav-item nav-link active">Home</a>
                      <a routerLink="/airport-list" class="nav-item nav-link"> Airport</a>
                      <a routerLink="/booking-list" class="nav-item nav-link"> Booking</a>
                      <a routerLink="/flight-list" class="nav-item nav-link"> Flight</a>
                      <a routerLink="/schedule-list" class="nav-item nav-link"> Schedule</a>
                      <a routerLink="/passenger-list" class="nav-item nav-link"> Passenger</a>
                      <a routerLink="/schedule-flight-list" class="nav-item nav-link">ScheduleFlight</a>
                      <a href="about.html" class="nav-item nav-link" >About Us</a>
                      <a class="nav-item nav-link" (click)="logout()" >LogOut </a>
                  </div>
              </div>
            </nav>
        </div>
    </div >
    <!-- Navbar End -->
  
  <div class="panel panel-primary" style="margin: 10%;">
      <div class="panel-heading">
        <h2>List of Passenger</h2>
      </div>

      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>PassengerID</th>
              <th>Passenger Name</th>
              <th>Birthday</th>
              <th>Passenger CNI</th>
              <th>Luggage</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of passenger | async">
              <td>{{p.passengerId}}</td>
              <td>{{p.passengerName}}</td>
              <td>{{p.passengerBirthday}}</td>
              <td>{{p.passengerUIN}}</td>
              <td>{{p.luggage}}</td>
              <td><button (click)="removePassenger(p.passengerId)" class="btn btn-danger">Delete</button>
                <button (click)="modifyPassenger(p.passengerId)"  class="btn btn-info" style="margin-left: 10px">update</button>
                  <button (click)="viewPassengerDetails(p.passengerId)"  class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-footer></app-footer>
