


    <!-- Navbar Start -->
    <!-- <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary">SARA<span class="text-dark">YA-TRAV</span>ELER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                      <a href="index.html" class="nav-item nav-link active">Home</a>
                      <a routerLink="/add-airport" class="nav-item nav-link">Add Airport</a>
                      <a routerLink="/add-flight" class="nav-item nav-link">Add Flight</a>
                      <a routerLink="/add-booking/:bookingId" class="nav-item nav-link">Add Booking</a>
                      <a routerLink="/add-scheduleF-flight" class="nav-item nav-link">Add ScheduleFlight</a>
                      
                        <a href="about.html" class="nav-item nav-link" >About Us</a>
                        <a href="" class="nav-item nav-link">Login </a>
                        <a href="" class="nav-item nav-link" >Sign-Up </a>
                    </div>
                </div>
            </nav>
        </div>
    </div > -->
    <!-- Navbar End -->
    <!-- <div class="container" style="margin: 5%;" >
      
  <div  [hidden]="submitted" style="width: 500px; margin-left: auto;margin-right: auto;"> 
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="username">
        </div>
    
        <div class="form-group">
          <label for="password">User Password</label>
          <input type="password" class="form-control" id="userPassword" required [(ngModel)]="user.password" name="userPassword">
        </div>
    
        <div class="form-group">
          <label for="userPhone">User Phone</label>
          <input type="tel" class="form-control" id="userPhone" required [(ngModel)]="user.userPhone" name="userPhone">
        </div>
    
        <div class="form-group">
            <label for="userEmail">User Email</label>
            <input type="email" class="form-control" id="userEmail" required [(ngModel)]="user.userEmail" name="userEmail">
          </div>
          <div class="form-group">
            <label for="id">User Role ID</label>
            <input type="number" class="form-control" id="id" required [(ngModel)]="user.roles.id" name="id">
          </div>
          <div class="form-group">
            <label for="roleName">User Role Name</label>
            <input  type="text" class="form-control" id="roleName" required [(ngModel)]="user.roles.roleName"  name="roleName">
          </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    
   </div>  -->

  