
<app-navbar></app-navbar>
<div class="panel panel-primary" style="margin: 5%;">
    <div class="panel-heading">
      <h2>Booking List</h2>
    </div>
    <div style="margin-left: 80%;">
      <button type="button" class="btn btn-lg btn-outline-info" routerLink="/add-booking">Ad Booking</button>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Booking Date</th>
            <th>Number Passengers</th>
            <th>Tickets Cost </th>
            <th>Passenger ID</th>
            <th>Flight Id</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings ">
            <!-- <ng-container *ngIf="booking | async as bookings"> -->
           <td>{{booking.bookingId}}</td>
            <td>{{booking.bookingDate}}</td>
            <td>{{booking.noOfPassenger }}</td>
            <td>{{booking.ticketCost }} </td>  
            <td>{{booking.passenger.passengerId}}</td>
            <td>{{booking.flights.flightId}} </td>
            <td>
              <button (click)="deleteBooking(booking.bookingId)" class="btn btn-danger">Delete</button>
              <button (click)="updateBooking(booking.bookingId)" class="btn btn-info" style="margin-left: 10px">update</button>
              <button (click)="bookingDetails(booking.bookingId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
 
  </div>
   
  <app-footer></app-footer>