
<h3 style="text-align: center;">Update a Passenger</h3>
<div  style="width: 400px; margin-left: auto;margin-right: auto;">
 <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Passenger Id</label>
        <input [disabled]="true"  class="form-control" id="passengerId" required [(ngModel)]="passenger.passengerId" name="passengerId">
      </div>
    <div class="form-group">
        <label for="name">Passenger Name</label>
        <input  type="text" class="form-control" id="passengerName" required [(ngModel)]="passenger.passengerName" name="passengerName">
      </div>
  
      <div class="form-group">
        <label for="name">Passenger Birthday</label>
        <input type="date" class="form-control" id="passengerBirthday" required [(ngModel)]="passenger.passengerBirthday" name="passengerBirthday">
      </div>
  
      <div class="form-group">
        <label for="name">Passenger CNI</label>
        <input type="text" class="form-control" id="passengerUIN" required [(ngModel)]="passenger.passengerUIN" name="passengerUIN">
      </div>

      <div class="form-group">
        <label for="name">Luggage</label>
        <input type="text" class="form-control" id="luggage" required [(ngModel)]="passenger.luggage" name="luggage">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

