


    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary">SARA<span class="text-dark">YA-TRAV</span>ELER</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a routerLink="/add-airport" class="nav-item nav-link">Add Airport</a>
                        <a routerLink="/add-flight" class="nav-item nav-link">Add Flight</a>
                        <a routerLink="/add-booking/:bookingId" class="nav-item nav-link">Add Booking</a>                     
                           <a routerLink="/add-scheduleF-flight" class="nav-item nav-link">Add ScheduleFlight</a>
                        
                    </div>
                </div>
            </nav>
        </div>
    </div >
    <!-- Navbar End -->
  
    <div class="container" style="margin: 5%;" >
    
        <div  [hidden]="submitted" style="width: 500px; margin-left: auto;margin-right: auto;">   
            <form (ngSubmit)="onSubmit()" class="mb-3 row">

                <label>Depart Date Time </label>
                <input type="datetime" class="form-control" name="deptDateTime"  [(ngModel)]="schedule.deptDateTime" [ngModelOptions]="{standalone: true}" id="deptDateTime" required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                <label>Arrival Date Time </label>
                <input type="datetime" class="form-control" name="arrDateTime"  [(ngModel)]="schedule.arrDateTime" [ngModelOptions]="{standalone: true}" id="arrDateTime" required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>

                <label>Airport ID: </label>
                <select name="flight" [(ngModel)]="schedule.airport " class="form-control">
                    <option>Choose...</option>
                    <option *ngFor="let a of airport" [ngValue]="a" > {{ a.airportId }} </option>
                </select>
                <br> 

    

                  <div class="col-md-3 offset-md-9">
                    <button type="submit" class="btn btn-success " >Submit</button>
                  </div>
            
                </form>
                  
 </div>
</div> 
  

<app-footer></app-footer>